@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');
body {
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #232F3F 50%);
    margin: 50;
    min-height: 100vh;
    padding: 3px;
    text-align: center;
}

.btn_email {
    background: rgb(224, 153, 46);
    background-position: left;
    border: 3px solid #e92910;
}

.btn_email:before {
    content: "";
    display: inline-block;
    height: 16px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}

.btn_email:hover {
    background: rgb(247, 82, 82);
    color: white;
}

.btn_frase {
    background-color: #008CBA;
    border: 3px solid #5eb2d1;
}

.btn-frase-disabled {
    background-color: #2b3a3f;
    border: 3px solid #5eb2d1;
    pointer-events: none;
}

.btn_frase:hover {
    background-color: #16a4d3;
    color: white;
}

.btn_frase, .btn-frase-disabled, .btn_instancia, .btn_email {
    border-radius: 100px;
    color: black;
    font-size: 18px;
    font-weight: 100;
    padding: 8px;
    text-decoration: none;
}

.btn_instancia {
    background-color: #00ba19;
    border: 3px solid #00cc44;
}

.btn_instancia:hover {
    background-color: #2ecc71;
    color: white;
}

#buttons {
    margin-top: 10px;
}

.carousel {
    min-height: 410px;
}

.carousel-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.carousel.indicators .indicator-item {
    background: #35221c;
    border-radius: 0;
    margin: 0 15px;
    transform: rotate(45deg);
}

.content {
    background-color: #212121;
    border-radius: 20px;
    box-shadow: 5px 20px 50px 15px #164958;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0px 0px 10px 5px;
    width: 700px;
}

#file-input {
    display: none;
}

.image {
    border-radius: 10px;
    box-shadow: 5px 5px 16px 1px rgba(0, 0, 0, 0.70);
    cursor: pointer;
    height: 150%;
    left: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}

#image-url {
    border: 2px solid #CED6E0;
    border-radius: 5px;
    font-size: 14px;
    height: 20px;
    margin-top: 20px;
    padding: 3px 12px;
    transition: .3s ease all;
    width: 30%;
}

#image-url:hover {
    border: 2px solid #93BDED;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.labelurl {
    color: white;
    font-size: 16px;
    /* background: #031d27; */
}

#quote {
    background: rgba(255, 255, 255, 0.);
    color: rgb(27, 26, 26);
    font-size: 23px;
    margin: 0;
    padding: 0;
    position: relative;
    top: -20px;
}

.server-number {
    color: rgb(174, 177, 18);
    font-size: 23px;
    margin: 0;
    padding: 0;
    position: relative;
}

.titulo {
    color: rgb(70, 16, 16);
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

/* monitoreo */

.contenedorMonitoreo {
    width: 70%;
    padding: 30px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelmoni {
    color: white;
    font-size: 18px;
    background: #031d27;
    padding: 10px 20px 20px 20px;
    top: -55px;
    text-align: right;
    font-family: 'Lato', sans-serif;
    border-radius: 20%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
}

/* ----------  Boton monitoreo----------*/

.btn-abrir-formulario {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background: #709ebd;
    color: #fff;
    position: relative;
    top: -25px;
    z-index: 3;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(24, 56, 182, 0.4);
    padding: 5px;
    transition: all .2s ease;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-abrir-formulario:hover {
    background: #1850b1;
}

.btn-abrir-formulario.active {
    transform: rotate(50deg);
}

/* ----------  Tarjeta monitoreo----------*/

.tarjeta {
    background: rgb(255, 255, 255);
    width: 70%;
    max-width: 600px;
    padding: 50px 30px 30px 30px;
    border-radius: 20px;
    position: relative;
    top: -100px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .3s ease-out;
}

.tarjeta.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* label */

.tarjeta label {
    display: block;
    color: #7d8994;
    margin-bottom: 5px;
    font-size: 16px;
}

.tarjeta input, .tarjeta select, .btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.tarjeta input:hover, .tarjeta select:hover {
    border: 2px solid #93BDED;
}

.tarjeta input:focus, .tarjeta select:focus {
    outline: rgb(4, 4, 4);
    box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, 0.3);
}

.tarjeta input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* ----------boton enviar---------- */

.btn-enviar {
    border: none;
    padding: 10px;
    font-size: 22px;
    color: #fff;
    background: #2364d2;
    box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
    cursor: pointer;
}

table {
    background-color: white;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(196, 236, 86);
}

th, td {
    border: solid;
    border-collapse: collapse;
    text-align: center;
    margin: 15px;
}

th {
    background-color: darkcyan;
    font-size: 20px;
}