@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap');
.content {
    width: 505px;
    display: block;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #164958;
    padding: 20px 20px 0px 20px;
    height: auto;
}

body {
    background-color: #121212;
    /*background: #323c41;*/
    margin: 0;
    padding: 0%;
    text-align: center;
}

.btn_frase {
    background-color: #008CBA;
    border-radius: 6px;
    border: 2px solid #008CBA;
}

.btn_frase:hover {
    background-color: #16a4d3;
    color: white;
}

.btn_frase, .btn_instancia {
    text-decoration: none;
    padding: 5px;
    font-weight: 100;
    font-size: 16px;
    color: black;
}

.btn_instancia {
    background-color: #00ba19;
    border-radius: 6px;
    border: 2px solid #00cc44;
}

.btn_instancia:hover {
    background-color: rgb(157, 233, 15);
    color: black;
}

.btn_email {
    text-decoration: none;
    background: rgb(202, 60, 60);
    padding: 5px;
    font-weight: 100;
    font-size: 16px;
    color: black;
    border-radius: 6px;
    border: 2px solid #e92910;
    /* background-image: url(email.png); */
    background-position: left;
    text-decoration: none;
}

.btn_email:hover {
    background: rgb(243, 141, 141);
    color: black;
}

.btn_email:before {
    background: url("email.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 30px;
    margin-right: 13px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 30px;
}

#quote {
    background: rgba(255, 255, 255, 0.1);
    font-size: 23px;
    position: relative;
    top: -200px;
    color: white;
    margin: 0;
    padding: 0;
}

#servernum {
    font-size: 23px;
    position: relative;
    color: white;
}

.image {
    cursor: pointer;
    height: 500px;
    transition: filter 0.3s ease-in;
    width: 500px;
}

.image:hover {
    filter: brightness(1.2);
}

#buttons {
    margin-top: 10px;
}